body {
    background-color: rgb(29, 29, 29);
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.heading {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
}

.container {
    margin: 0px auto;
    padding: 10px 10px;
    width: 90%;
    border: 2px solid rgb(6, 0, 92);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

hr {
    color: rgb(15, 0, 218);
}

button {
    background-color: rgb(0, 110, 255);
    color: white;
}

.sub-container {
    width: 100%;
}

#login-div {
    width: 90%;
}

#login-submit {
    width: 100%;
    height: 40px;
}

.dash-button {
    width: 100%;
    height: 50px;
    margin-top: 10px;
}

.file-upload-button {
    width: 100%;
}

table {
    width: 100%;
}

td {
    border: 1px solid rgb(255, 255, 255);
}

.table-row-item {
    text-decoration: none;
    color: red;
    width: 100%;
    padding: 10px 0px;
    padding-left: 10px;
}

.files-table-type {
    max-width: 10px;
}

.files-list-item .table-row-item {
    display: block;
    width: 100%;
}

.files-delete-button button {
    width: 80%;
}

pre {
    width: 100%;
    text-wrap-mode: wrap;
}

#player {
    width: 90%;
}

.stream-select {
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 5px;
}

.stream-search-results a {
    text-align: center;
    border: 2px solid black;
    margin: 20px 10px;
}

.stream-search-results-img {
    width: 100%;
    height: auto;
}

.delete-files-head {
    min-width: 10%;
}

#announcements-list {
    list-style-type:none;
}

.announcements-list-item {
    margin-top: 4px;
}

#camera-feed {
    width: 100%;
}

#addons-list {
    list-style:none;
}

.addon {
    border: 1px solid black;
    padding: 0px 10px;
}

@media (min-width:720px) {
    #login-div {
        width: 20%;
    }

    .container {
        width: 50%;
        padding: 10px 30px;
    }

    .sub-container {
        padding: 0px 20px;
    }

    .non-container {
        display: flex;
    }

    .stream-search-results a {
        display: flex;
        width: 100%;
        padding: 10px 10px;
    }

    .stream-search-results-img {
        display: block;
        margin-left: auto;
        width: auto;
        height: auto;
    }
}

#announcement {
    min-width: 90%;
    min-height: 30vh;
}