body {
    background-color: gray;
    color: antiquewhite;
}

.heading {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
}

.container {
    margin: 0px auto;
    padding: 10px 10px;
    width: 90%;
    border: 2px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#login-div {
    width: 90%;
}

.dash-button {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

#file-upload-button {
    width: 100%;
}

table {
    width: 100%;
}

.table-row-item {
    text-decoration: none;
    color: red;
}

pre {
    width: 100%;
    text-wrap-mode: wrap;
}

#player {
    width: 100%;
}

@media (min-width:720px) {
    #login-div {
        width: 20%;
    }

    .container {
        width: 50%;
        padding: 10px 30px;
    }
}