{% extends 'base.html' %}
{% block body %}
<div class="container">
    <h2>Addons</h2>
    <hr>
    <h3>Add an addon</h3>
    <form method="post" enctype="multipart/form-data">
        <label for="folder-upload">Upload addon folder</label>
        <input type="file" name="folder-upload" id="folder-upload" webkitdirectory> <br> <br>

        <button type="submit">Upload</button>
    </form>
    <hr>
    <h3>Your addons</h3>
    <ul id="addons-list">
        {% for a in addons %}
            <a href="{{url_for(a['name'].lower()+'.home')}}">
                <li class="addon">
                    <h2>{{a["name"]}}</h2>
                    <h4>Located @ {{a["filename"]}}</h4>
                </li>
            </a>
        {% endfor %}
    </ul>
</div>
{% endblock %}