{% extends 'base.html' %}
{% block body %}
<div class="container">
    <h2>Dashboard</h2>
    <div id="name">Logged in as: {{name}}</div>
    <hr>
    <div>
        <div>
            <a href="{{url_for('routes.files', name=name, direc=dm.urlify(dm.BASE_DIR, True))}}">
                <button class="dash-button">Files</button>
            </a>
            <!--
            <br>
            <a href="{{url_for('routes.cams', name=name)}}">
                <button class="dash-button">Cameras</button>
            </a>
            -->
            <br>
            <a href="{{url_for('routes.addons', name=name)}}">
                <button class="dash-button">Addons</button>
            </a>
        </div>
        <hr>
        <div class="sub-container">
            <h3>Server stats</h3>
            <p id="server-stats-connection">Connection status:</p>
            <p id="server-stats-memory">Memory:</p>
            <p id="server-stats-netio">Net IO:</p>
            <p id="server-stats-battery">Battery:</p>
            <p id="server-stats-database_size">Database size:</p>
        </div>
    </div>
    <hr>
    <div>
        <h3>Announcements</h3>
        <ul id="announcements-list">
            {% for a in announcements %}
                {% if a[1] == 1 %}
                    <li class="announcements-list-item" style="border: 1px solid white;">{{a[0]|safe}}</li>
                {% elif a[1] == 2 %}
                    <li class="announcements-list-item" style="border: 1px solid yellow;">{{a[0]|safe}}</li>
                {% else %}
                    <li class="announcements-list-item" style="border: 1px solid red;">{{a[0]|safe}}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

<script src="{{ url_for('static', filename='dash_update.js') }}"></script>
{% endblock %}