{% extends 'base.html' %}
{% block body %}
<div class="container">
    <h2>Scripts status</h2>
    <hr>
    <form action="" method="post">
        <label for="job-inp">Enter job to search: </label>
        <input type="text" name="job-inp" id="job-inp">
        <button type="submit">Search</button>
    </form>
    {% if res != None %}
        <hr>
        <h2>Script status</h2>
        <pre>STDOUT<br><div style="border: 1px solid black; padding: 2px 4px;">{{res['stdout']}}</div></pre>
        <pre>STDERR<br><div style="border: 1px solid black; padding: 2px 4px;">{{res['stderr']}}</div></pre>
        <pre>RETURN CODE<br><div style="border: 1px solid black; padding: 2px 4px;">{{res['returncode']}}</div></pre>
    {% endif %}
</div>
{% endblock %}