{% extends 'base.html' %}

{% block head %}
<style>
    .video-container {
        max-width: 960px;
        margin: 0 auto;
    }

    video {
        width: 100%;
        height: auto;
        background: #000;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h2>Video Player</h2>
    <hr>
    <p>{{ path }}</p>

    <div class="video-container">
        <video controls autoplay>
            <source src="{{ url_for('routes.get_file', name=name, path=dm.urlify(path, True)) }}" type="video/mp4">
            Your browser is stupid
        </video>
    </div>
</div>
{% endblock %}